
.searchbar{
    width: 95vw;
    position: relative;
    background-color: #f4f6fa;
    text-align: left;
    margin: 10px 10px 0 10px;
    height: 50px;
    border:#792F4F solid 0.8px;
    border-radius:5px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.searchicon {
    padding: 0 10px 0 20px;
    }

input[type="text"]{
    height: 2rem;
    width: 100%;
    appearance: none;
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    color: #3b3b3b;
    }

    label{
        color: white;
        font-size: 0.8rem; 
    }
    .filterbar{
        color: #f4f6fa;
        font-size: 0.8rem;
    }

    .botbar label{
        background-color: #f4f6fa;
        font-size: 0.9rem;
        color: #5D5E5E;
    }

.categoryCheck{
    appearance: none;
    width: 24px;
    height: 24px;
    border:#555555 solid 0.8px;
    border-radius:3px;
    background-color: #f4f6fa;
    margin: 0 10px; 
    padding: 0;
    }

.categoryCheck:checked{
    background-image: url(../img/check.svg);
    }


.star{ 
    appearance: none;
    background: url(../img/star-inactive.svg) no-repeat;
    width: 30px;
    height: 30px;
    }

.star:checked{
    background: url(../img/star-active.svg) no-repeat;
    }
    
    
.trianglelight{
    appearance: none;
    background: url(../img/triangle-light.svg) no-repeat;
    width: 12px;
    height: 12px;
    padding:0;
    margin: 0;
    }
    
.trianglelight:checked{
    background: url(../img/triangle-light.svg) no-repeat;
    transform: rotate(180deg);
    }
    
    
